# Binary and Build Artifacts
bin/
out/
dist/
*.exe
*.test
*.prof

# Dependencies (if using vendor/)
# vendor/

# Git and CI/CD
.git
.github
.gitignore
.travis.yml

# Docker and Config
# Ignore the default Dockerfile
Dockerfile

# Ignore all files that end with Dockerfile in any directory
**/*Dockerfile*

# Specifically ignore common patterns like Dockerfile.dev or Dockerfile.prod
Dockerfile.*
.dockerignore
docker-compose.yml
.env
*.md

# Editor/OS Specific
.vscode/
.idea/
.DS_Store

tmp/